<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">{{tournament?.name}}</a>

    <div class="container">
        <div class="pull-right">
          <p class="d-inline pull-right" style="color:white">Invitation link: {{invitationLink}}</p>
        </div>
    </div>
</nav>

<div class="container" id="main-container">
  <p>Quarantine: </p>
  <div class="row">
    <div *ngFor="let fighter of quarantineFighters" class="col-xs-5 pr-2">
      <div class="card item-wr">
        {{fighter.name}}
      </div>
    </div>
  </div>
</div>

<div class="container" id="main-container">
  <p>Bubble: </p>
  <div class="row">
    <div *ngFor="let fighter of bubbleFighters" class="col-xs-5 pr-2">
      <div class="card item-wr">
        {{fighter.name}}
      </div>
      <div class="card item-wr">
        {{fighter.weightClass}}
      </div>
    </div>
  </div>
</div>

<div class="container" id="main-container">
  <p>Matches: </p>
  <button (click)="onOrganizeMatches()">Organize Matches</button>
  <div class="row">
    <div *ngFor="let match of matches" class="col-xs-5 pr-2">
      <div class="card item-wr">
        {{match?.fighter1.name}} vs {{match?.fighter2.name}}
      </div>
      <div class="card item-wr">
        {{match.dateTime}}
      </div>
    </div>
  </div>
</div>