<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" style="color:white;">{{tournament?.name}}</a>

    <span class="navbar-text" style="color:white">Invitation link: {{invitationLink}} </span>
</nav>

<div *ngIf="quarantineFighters?.length != 0" class="container">
  <div class="col-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h4>Quarantine:</h4>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Class</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fighter of quarantineFighters">
            <th scope="row">{{fighter.name}}</th>
            <td>{{fighter.age}}</td>
            <td>{{fighter.weightClass}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="bubbleFighters?.length != 0" class="container">
  <div class="col-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h4>Bubble:</h4>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Class</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fighter of bubbleFighters">
            <th scope="row">{{fighter.name}}</th>
            <td>{{fighter.age}}</td>
            <td>{{fighter.weightClass}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h4>Matches:</h4>
      </div>
      <button class="btn btn-secondary btn-large float-right" (click)="onOrganizeMatches()">Organize Matches</button>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Match</th>
            <th scope="col">Date</th>
            <th scope="col">Class</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let match of matches">
            <th scope="row">{{match.fighter1.name}} vs {{match.fighter2.name}}</th>
            <td>{{match.dateTime}}</td>
            <td>{{match.fighter1.weightClass}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>